.content {
    background-color: #D5F5E3;
    /*background-color: #7FB5FF;color mas azul*/
}

.modal-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;   
    border: none;   
}


