.content {
    background-color: #96b5d4;
    /*background-color: #D5F5E3;*/
}

.modal-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;   
    border: none;   
}

.termi {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


